*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url('../images/tree.jpg');
    font-family: "Lucinta Sans", "lucinta Sans Regular" , "Lucinta Grande" , "Lucina Sans Unicode" Geneva, "Verdana", "San Serif";
    color: brown;
    display: block;
    width: 80%;
    margin: 0 auto;
}
#content{
    width: 100%;
    border-radius: .6em;
    display: block;
    background-color: rgba(134, 19, 77, 0.486);
    padding: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
nav{
    text-align: center;
    border: 3px solid rgba(252, 252, 252, 0.678);
    border-radius: 0.5em;
    padding: 2em;
    margin-bottom: 1em;
    background-color: rgba(236, 30, 133, 0.219);
    box-shadow: 0 6px 12px rgb(0, 0, 0, 0.2);
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}
nav li{ 
    flex: 18%;
    flex-wrap: wrap;
    display: inline;
    margin-right: 15px;
    font-size: 1.1em;
    padding: 0;
    border-top-left-radius: .6em;
    height: 50px;
}
#main-nav li > a{
    padding: 0.5em 0.5em;
    text-decoration: none;
    color: rgb(161, 4, 140);
    font-weight: bold;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}
#main-nav li > a:hover{
    color: aliceblue;
    background-color: rgb(255, 0, 76);
}